.deployed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow-y: auto;
}

.deployed-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #007bff;
    /* margin-bottom: 20px; */
}

.deployed-description {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 30px;
}

.deployed-actions {
    display: flex;
    gap: 20px;
}

.deployed-button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deployed-button.secondary {
    background-color: #555;
}

.deployed-button:hover {
    background-color: #0056b3;
}

.deployed-button.secondary:hover {
    background-color: #333;
}

.copy-icon {
    width: 25px;
    /* Adjust size as needed */
    height: 25px;
    /* Adjust size as needed */
    cursor: pointer;
    transition: transform 0.2s ease;
}

.copy-icon:hover {
    transform: scale(1.2);
    /* Slightly enlarge on hover for better UI feedback */
}